# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Dependencies
node_modules/

# Environment Variables
.env
.env.*
!.env.example

# Security
*.pem
*.key
*.crt
secrets/
credentials/
id_rsa
id_rsa.pub

# OS metadata
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp

# Project specific
docs/